:root {
  --light: white;
  --dark: darkslategrey;
  --medium: darkcyan;
  --accent: fuchsia;
  --padding: 2rem;
  --font-size: calc(1rem + 0.5vw);
	--shadow: 0 0.25vw 1vw  0 rgba(0,0,0,0.5);
	--shadow-deep: 0 0.5vw 2vw  0 rgba(0,0,0,0.5);
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin:0;
  color: var(--dark);
  font-family: system-ui;
  font-size: var(--font-size);
  letter-spacing: 0.3em;
} 

h1 {
  font-size: 2em;
}

p {
  line-height: 1.5;
  max-width: 60ch;
}

footer {
background-color: gainsboro;
min-width: 100%;
min-height: 25vh;
}

a {
  text-decoration:none;
}

a:visited {
  color: inherit;
}

.bg-hero {   
  background-image: url(./images/bg-hero-desktop.svg);
  background-size: 100% 100%;
  background-position: 0px auto;
  background-repeat:no-repeat; height: 100%;
}

.links> *  > a {
color: var(--dark);
}

.center {
  display: grid;
  place-items: center;
}

  .shadow {
	box-shadow: var(--shadow);
  }

.shadow:hover {
	box-shadow: var(--shadow-deep);
  }


.flex {
  display: flex;
  gap: var(--padding);
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.two-col > * {
  flex-grow: 1;
  flex-basis: calc(( 20em - 100%) * 999);
}

.two-col > :nth-last-child(n+ 3),
.two-col > :nth-last-child(n+ 3) ~ * {
  flex-basis: 100%;
}

.two-col img {
  min-width: 240px;
  width: 100%;
}

.row-reverse {
  flex-direction: row-reverse;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.container {
  width: 80vw; 
  min-width: 320px;
}

section {
  justify-content: space-evenly;
  margin-block-end: calc(var(--padding)*4);
}

.button {
  border-radius: var(--padding);
  display: inline;
  padding: calc(var(--padding)/2);
  background-color: var(--accent);
}

.cta-button a{
  color: var(--light);
}

.header {
  margin-block-start: var(--padding);
}

.header .button {
  margin-inline-start: auto;
  background-color: var(--light);
}

.card, .cta {
  box-shadow: var(--shadow);
}

.card section {
  padding: var(--padding);
}

.cta {
  text-align: center;
  background-color: var(--light);
  height: 8em;
}

.wrapper2 {
  padding: var(--padding);
  background-color: var(--dark);
  color: var(--light);
}

.wrapper2 section> * {
  align-content: center;
}

.footer-end {
  align-items: end;
}

.social img {
  height: calc(var(--padding)*1.5);
  width: auto;
  min-width: initial;
}
